#home .slider {
  transform: translateX(100vw);
  z-index: 20;
  width: 48vw;
  height: 100%;
  right: 4vw;
  top: 0;
  position: fixed;
  opacity: 0;
  display: flex;
}

#home #navBar {
  transform: translateX(5vw);
}

#home {
  background-color: transparent;
  height: 100%;
  width: 100%;
}

.scrollicon {
  cursor: pointer;
  transform: translateY(4vh);
  opacity: 0;
  z-index: 3;
}
