

#home .slider {
    transform: translateX(100vw);
    z-index: 10;
    width: 48vw;
    height: 95vh;
    right: 5vw;
    top: 2.5%;
    position: absolute;
    opacity: 0
}



.smoothscroll {
    transform: translateY(4vh);
    opacity: 0;
    z-index: 3;
}



