

#home .slider {
    z-index: 10;
    width: 48vw;
    height: 95vh;
    left: 51%;
    top: 2.5%;
    position: absolute;
    transform: translatex(50vw);
}

.smoothscroll {
    transform: translateY(4vh);
    opacity: 0;
    z-index: 3;
}



