  /* Animation */
  .responsive-headline {
    display:inline-block;
    min-width: 10px;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    user-select: none;
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }
  
.title-text{
    height:40px;
    padding-right: 5px;
    min-width: 10px;
    width: fit-content;
    margin: auto;
    align-self: center;
    z-index: 4;
    transform: translateY(4vh);
    margin: 0 auto 0 auto;
    
    border-right: .15em solid rgba(255,255,255,.75);
    animation: blinkTextCursor 500ms steps(44) infinite normal;
}

header .banner-text hr {
  max-width: 1020px;
  width: 0;
  margin: 18px auto 24px auto;
  border-color: #2F2D2E;
  border-color: rgba(223, 223, 223, 0.25);
}

hr { border: solid #fffefe; border-width: 2px 0 0; clear: both; margin: 11px 0 30px; height: 0; }

.banner-text {
  margin: 0 auto;
  z-index: 15;
  align-self: center;
}

header .social {
  opacity: 0;
}

.subtitle{
  opacity: 0;
  z-index: 3;
  transform: translateY(-4vh);
}

header .banner {
  vertical-align: middle;
  top: (40vh);
  position: relative;
  margin: 0 auto;
  z-index: 15;
  align-self: center;
}