#about {
  vertical-align: middle;
  display: inline-grid;
  grid-template-rows: 15% 1fr 1fr;
  height: 100%;
  overflow: auto;
 }


.about-text {
  font-family: 'opensans-light';
  height: fit-content;
  text-align: left;
  line-height: 3vh;
  font-size: 2vmin;
  margin: auto 3vw;
}

.logo {
  font-size: 80%;
  display: inline-table;
  width: fit-content;
  margin: 2%;
  fill: rgb(145, 145, 145);
}

.logo img {
  width: 5vw;
  fill: rgb(145, 145, 145);
  filter: invert(.60);
}

#about p {
  
  line-height: 25px;
  color: #aaaaaa;
}

#tools-section {
  
  margin: auto 0;
}

#tools {
  margin: 2% 5%;
  display: flex;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
  justify-content: center;
}


@media only screen and (max-width: 768px) {
  #about {
    overflow: scroll;
  }

  #about p {
    line-height: 20px;
    color: #aaaaaa;
  }

  .about-text {
    margin: 0 4% 4%;
  }

  h1 {
    font-size: 7vw;
  }

  .about-text {
    font-size: 3vmin;
  }

  .logo img {
    width: 25vw;
    fill: rgb(145, 145, 145);
  }
}

