#about {
  vertical-align: middle;
  display: inline-grid;
  grid-template-rows: 15% auto 1fr;
  height: 100%;
  overflow: auto;
 }


.about-text {
  font-family: 'opensans-light';
  height: fit-content;
  text-align: left;
  line-height: 3vh;
  margin: auto 3vw;
}

.logo {
  font-size: 80%;
  display: inline-table;
  width: fit-content;
  margin: 2%;
  fill: rgb(145, 145, 145);
}

.logo img {
  width: 6.5vw;
  fill: rgb(145, 145, 145);
  filter: invert(.60);
}

#about p {
  
  line-height: 25px;
}

#tools-section {
  margin: auto 0;
}

#tools {
  margin: 2% 18%;
  display: flex;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
  justify-content: center;
}




@media (orientation: portrait) {
  #about {
    overflow: scroll;
    
  }

  #about p {
    line-height: 135%;
  }

  .about-text {
    margin: 0 4% 4%;
  }

  h1 {
    font-size: 7vw;
  }

  .about-text {
    font-size: 3vmin;
  }

  .logo img {
    width: 20vw;
  }

  
  #tools {
    margin: 2% 5%;
  }

  #tools-section {
    margin: 0;
  }
}
