#about {
   width: 96%;
   height: 96%;
   background: rgba(29, 29, 29, 0.568);
   margin: auto;
   overflow: clip;
   vertical-align: middle;
 }

.about-title {
  margin: 3%;
}

.about-title h1 {
  overflow: hidden;
}

.text {
  font-size: small;
  overflow: hidden;
  height: fit-content;
}

.text h1 {
  opacity: 0;
}

#about hr {
  width: 10%;
  margin: auto;
  border-width: 5px 0 0;
}

.about-text {
  text-align: left;
  line-height: 2vh;
  font-size: calc(0.05vw * 2.25vh);
  margin: 0 3% 4%;
}

h1 {
  line-height: 51px;
  margin-bottom: 1%;
  letter-spacing: 2px;
}

.logo {
  font-size: 80%;
  display: inline-table;
  width: fit-content;
  margin: 2%;
  fill: rgb(145, 145, 145);
}

.logo img {
  width: 5vw;
  fill: rgb(145, 145, 145);
}

#about p {
   font-size: smaller;
   line-height: 20px;
  color: #aaaaaa;
}

#tools-section {
   margin-top: 3%;
  bottom: 0px;
}

@media only screen and (max-width: 768px) {
  #about {
    overflow: scroll;
  }

  .about-text {
    margin: 0 4% 4%;
  }

  h1 {
    font-size: 7vw;
  }

  .logo img {
    width: 15vw;
    fill: rgb(145, 145, 145);
  }
}
