#navBar {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 2.5vw;
    min-width: 50px;
    background-color: rgba(29, 29, 29, 0.668);   
    z-index: 20;
}

#navBar ul{
    padding-top: 2vh;
}

#navBar .navContent {
    cursor: pointer;
    color: #aaaaaa;
    width: 100%;
    padding: 20% 0;
    height: 100%;
}

#navBar .navContent i {
    transform: translateY(15px);
    transition: all 300ms;
}

#navBar .navContent p {
    position: fixed;
    left: 0;
    right: 0;
    transition: all 300ms;
    opacity: 0;
    transform: translateY(-10px);
}


#navBar .navContent:hover i, #navBar .current i {
    transform: translateY(8px);
    color: #11ABB0;
}

#navBar .current p, #navBar .navContent:hover p {
    opacity: 1;
    transform: translateY(4px);
    color: #11ABB0;
}


#navBar li {
    letter-spacing: 1px;
    width: 100%;
    height: 80px;
    margin-bottom: 0px;
    p{
        font-size: 9px;
    }
}

#navBar i {
    margin: auto;
    color: #aaaaaa
}

@media only screen and (max-width: 768px) {

}