.particles {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

.banner-text {
    position: relative;
    margin: 0 auto;
    z-index: 5;
}

.video-background {
    position: absolute;
	overflow: hidden;
    height: 100%;
    width: 100%;
}

#_buffering-background {
    background: #222;
    z-index: 1;
}


          
#YouTubeBackgroundVideoPlayer {
    margin-top: -100vh;
    height: 300vh; 
    width: 120vw;
    pointer-events: none;
    z-index: 1;
    ////
}

  
  