#about {
    width: 96%;
    height: 96%;
    background :rgba(29, 29, 29, 0.568);
    margin: auto;
    overflow: hidden;
    vertical-align:middle
 }

 .about-text {
    text-align: justify;
    max-width: 70vw;
 }

 h1 { font-size: 7vh;
    line-height: 51px;
    margin-bottom: 12px; 
 }