.video-container {
    position: absolute;
	overflow: hidden;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#_buffering-background {
    background: #222;
    opacity: 1;
    z-index: 2;
    height: 100%;
    width: 100%;
    position: absolute;
}


.pattern-overlay { 
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    bottom: 0;
    background-image: url(https://cdnjs.cloudflare.com/ajax/libs/vegas/2.3.1/overlays/03.png);
    z-index: 1;
}

          
#YouTubeBackgroundVideoPlayer {
    margin-top: -100vh;
    height: 300vh; 
    width: 120vw;
    pointer-events: none;
    z-index: 1;
    ////
}

@media (orientation: portrait) {
    #YouTubeBackgroundVideoPlayer {
        margin-top: -100vh;
        margin-left: -170vw;
        height: 300vh; 
        width: 400vw;
        pointer-events: none;
        z-index: -2;
    }
}

#background_video {
  object-fit: cover;
}